coverage-badge>=1.1.0
flake8-black>=0.3.6
flake8>=7.0.0
myst-parser>=2.0.0
pre-commit>=3.6.2
pylint>=3.1.0
pytest-asyncio>=0.23.5
pytest-cov>=4.1.0
pytest>=8.0.2
redis>=5.0.2
requests>=2.31.0
sphinx>=7.2.6
sphinx_rtd_theme>=2.0.0
twine>=5.0.0
wheel>=0.42.0
