coverage-badge>=1.1.0
flake8>=6.0.0
flake8-black>=0.3.6
pre-commit>=3.6.0
pylint>=3.0.3
pytest-cov>=4.0.0
pytest-asyncio>=0.23.2
pytest-flake8>=1.1.1
pytest>=7.4.3
requests>=2.28.2
sphinx>=7.2.6
sphinx_rtd_theme>=2.0.0
twine>=4.0.2
wheel>=0.40.0
redis>=5.0.1
myst-parser>=2.0.0
